@model ProductShowVM[]
@{
    ViewBag.Title = "Overview";
}
<div id="headerDiv" class="productBox">
    <h1>Produkter</h1>
</div>
<div class="row-fluid">
    <div class="col-sm-12">
        <div class="container">
            <div class="row">
                @foreach (var product in Model)
                {
                    <div class="col-sm-3">
                        <div class="productBox">
                            @if (@product.Image.Length > 0)
                            {
                                var base64 = Convert.ToBase64String(@product.Image);
                                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                <img class="img-thumbnail product" src="@imgSrc" width="250" height="250" />
                            }
                            else
                            {
                                <div class="img-thumbnail nopic" style="width: 250px; height: 250px">
                                    <span class="glyphicon glyphicon-camera cam-large"></span>
                                </div>
                            }
                            <hr />
                            <div class="form-group-item">
                                <strong>@product.Name</strong>
                            </div>
                            <br />
                            <div class="form-group-item">
                                <i>@product.Price</i>  kronor varav <i>@product.Vat</i> moms
                            </div>
                            <br />
                            <form asp-controller="AdminClient" asp-action="EditProduct" asp-route-id="@product.Id" method="get">
                                <button class="btn btn-success" type="submit"><i class="glyphicon glyphicon-pencil"></i> Ändra</button>
                            </form>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
