@model IEnumerable<MakeReservationVM.CompetitionVM>

@foreach (var competition in Model)
{
    <div class="list-group-item">
        <div class="comp-info panel panel-inverse list-group-item">
            @if (competition.OpenForBookings)
            {
                <div class="panel-heading">
                    <div data-toggle="collapse" data-target="#@competition.Id" class="panel-title comp-info-panel">
                        <button data-toggle="collapse" data-target="#@competition.Id" class="comp-info-button"><img src="~/img/BoxCore04.png" /></button>
                        <br />
                        <b>@competition.Name</b>
                        <br />
                        @competition.StartDate.ToString("yyyy-MM-dd") till @competition.EndDate.ToString("yyyy-MM-dd")
                        <br />
                        @competition.Location
                        <br />
                        <br />
                    </div>
                </div>
            }
            else
            {
                <div class="panel-heading">
                    <div data-target="#@competition.Id" class="panel-title comp-info-panel">
                        <button disabled data-toggle="collapse" data-target="#@competition.Id" class="comp-info-button"><img src="~/img/BoxCore04.png" /></button>
                        <div class="ribbon"><span>Stängd</span></div>
                        <b>@competition.Name</b>
                        <br />
                        @competition.StartDate.ToString("yyyy-MM-dd") till @competition.EndDate.ToString("yyyy-MM-dd")
                        <br />
                        @competition.Location
                        <br />
                        <br />
                    </div>
                </div>
            }


            <div id="@competition.Id" class="panel-collapse collapse">
                <div style="border: 1px #ddd solid" class="bc-competition-body">
                    <div class="stepIndicatorTxt event-info well">
                        <strong>Tävlingsinformation</strong>
                    </div>
                    <div class="panel-body">
                        <table class="table bc-system-table">
                            <tbody>
                                <tr>
                                    <td style="text-align: left"><strong>Startdatum: </strong></td>
                                    <td style="text-align: right">@competition.StartDate.ToString("yyyy-MM-dd")</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left"><strong>Slutdatum: </strong></td>
                                    <td style="text-align: right">@competition.EndDate.ToString("yyyy-MM-dd")</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left"><strong style="text-align: left">Plats: </strong></td>
                                    <td style="text-align: right">@competition.Location</td>
                                </tr>
                                @*<tr>
                                    <td style="text-align: left"><strong style="text-align: left">Beskrivning: </strong></td>
                                </tr>
                                <tr>
                                    <td style="text-align: center">@competition.Description</td>
                                </tr>*@
                            </tbody>
                        </table>
                        <div class="bc-competition-info">
                            <textarea id="bc-competition-info" class="form-control" rows="20" readonly>
                                @competition.Description
                            </textarea>
                        </div>
                        <br />
                    </div>
                </div>
                @foreach (var subcomp in competition.SubCompetition)
                {
                    <br />
                        <div style="border: 1px #ddd solid" class="bc-event-body">
                            <div class="stepIndicatorTxt event-info well">
                                <strong>@subcomp.Type @subcomp.Gender @subcomp.Difficulty</strong>
                            </div>
                            <div class="panel-body">
                                <table class="table bc-system-table">
                                    <tbody>
                                        <tr>
                                            <td style="text-align: left"><strong>Datum: </strong></td>
                                            <td style="text-align: right">@subcomp.Date.ToString("yyyy-MM-dd")</td>
                                        </tr>
                                        @*<tr>
                                            <td style="text-align: left"><strong>Klass: </strong></td>
                                            <td style="text-align: right">@subcomp.Type @subcomp.Gender @subcomp.Difficulty</td>
                                        </tr>*@
                                        <tr>
                                            <td style="text-align: left"><strong style="text-align: left">Pris: </strong></td>
                                            <td style="text-align: right">@subcomp.Price.ToString("N0") kr</td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: left"><strong style="text-align: left">Bokningar: </strong></td>
                                            <td style="text-align: right">@subcomp.ConfirmedParticipants av @subcomp.Quantity</td>
                                        </tr>
                                        @if (subcomp.Type == "Team")
                                        {
                                            <tr>
                                                <td style="text-align: left"><strong style="text-align: left">Antal personer per lag: </strong></td>
                                                <td style="text-align: right">@subcomp.QuantityPerTeam</td>
                                            </tr>

                                        }
                                    </tbody>
                                </table>
                            </div>
                            @if (subcomp.IsBooked)
                            {
                                <button class="btn disabled" disabled>Redan bokad</button>
                            }
                            else if (subcomp.IsFullyBooked)
                            {
                                <button class="btn disabled" disabled>Fullbokad</button>
                            }
                            else
                            {
                                <button id="@subcomp.Id" class="modalTest btn btn-primary">Boka</button>
                            }
                        </div>
                }
            </div>
        </div>

        </div>
    }
