@model PasswordChangeVM
@{
    ViewBag.Title = "Lösenordsändring";
}
<div class="event-main">
    <div class="user-form bc-system-wrapper">
        <div class="bc-system-header">
            <h1>Ändra lösenord</h1>
        </div>
        <div class="bc-system-body">
            <form class="pw-form" asp-controller="UserClient" asp-action="ChangePassword" method="post">
                @if (TempData["OperationFailed"] != null)
                {
                    <div class="alert alert-danger">
                        @TempData["OperationFailed"]
                    </div>
                }
                <!-- Password -->
                <div class="edit-info input-group">
                    <span asp-validation-for="@Model.CurrentPassword" class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input asp-for="@Model.CurrentPassword" class="form-control" placeholder="Nuvarande lösenord" pattern=".{6,}" title="Nuvarande lösenord." required>
                </div>
                <br />
                <!-- Password -->
                <div class="edit-info input-group">
                    <span asp-validation-for="@Model.NewPassword" class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input asp-for="@Model.NewPassword" class="form-control" placeholder="Nytt lösenord" pattern=".{6,}" title="Lösenordet måste vara minst sex tecken långt." required>
                </div>
                <br />
                <!-- ConfirmPassword -->
                <div class="edit-info input-group">
                    <span asp-validation-for="@Model.ConfirmNewPassword" class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input asp-for="@Model.ConfirmNewPassword" class="form-control" placeholder="Bekräfta det nya lösenordet" pattern=".{6,}" title="Ange samma lösenord som ovan." required>
                </div>
                <br />
                <!-- Submit button -->
                <button type="submit" class="btn btn-success">Bekräfta</button>
            </form>
        </div>
        <div class="bc-system-footer"></div>
    </div>
</div>


