@model UserResetPasswordVM
@{
    ViewBag.Title = "Lösenordsåterställning";
}
<div class="event-main">
    <div class="user-form bc-system-wrapper">
        <div class="bc-system-header">
            <h1>Lösenordsåterställning</h1>
        </div>
        <div class="bc-system-body">
            <form asp-controller="UserClient" asp-action="ResetPassword" method="post">
                @if (TempData["OperationFailed"] != null)
                {
                    <div class="alert alert-danger">
                        @TempData["OperationFailed"]
                    </div>
                }
                @if (TempData["InvalidToken"] != null)
                {
                    <div class="alert alert-danger">
                        Ett fel uppstod, var noga med att öppna länken på det senaste mailet du har fått, alternativt radera alla mail med ämne <b>Lösenordsåterställning</b> och sedan begär ett nytt <a asp-controller="UserClient" asp-action="RetrievePassword">här.</a> Kontaka vår kundsupport om felet kvarstår.
                    </div>
                }
                <!-- Password -->
                <div class="user-info input-group">
                    <span asp-validation-for="@Model.Password" class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                    <input asp-for="@Model.Password" class="form-control" placeholder="Lösenord" pattern=".{6,}" title="Lösenordet måste vara minst sex tecken långt." required>
                </div>
                <span asp-validation-for="@Model.Password"></span>
                <br />
                <!-- ConfirmPassword -->
                <div class="user-info input-group">
                    <span asp-validation-for="@Model.ConfirmPassword" class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                    <input asp-for="@Model.ConfirmPassword" class="form-control" placeholder="Bekräfta lösenord" title="Ange samma lösenord som ovan." required>
                </div>
                <span asp-validation-for="@Model.ConfirmPassword"></span>
                <br />
                <!-- Submit button -->
                <button type="submit" class="btn btn-success">Bekräfta</button>
            </form>
        </div>
        <div class="bc-system-footer"></div>
    </div>
</div>

