@model RetrievePasswordVM
@{
    ViewBag.Title = "Lösenordsåterställning";
}
<div class="event-main">
    <div class="user-form bc-system-wrapper">
        <div class="bc-system-header">
            <h1>Lösenordsåterställning</h1>
        </div>
        <div class="bc-system-body">
            @if (TempData["MailNotFound"] != null)
            {
                <div class="alert alert-danger">
                    @TempData["MailNotFound"]
                </div>
            }
            <form asp-controller="UserClient" asp-action="RetrievePassword" method="post">
                <!-- Email -->
                <div class="user-info input-group">
                    <span asp-validation-for="@Model.Email" class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                    <input asp-for="@Model.Email" class="form-control" placeholder="E-post" title="exempel@exempel.se" required>
                </div>
                <span asp-validation-for="@Model.Email"></span>
                <span class="notification">
                    @if (@TempData["test"] != null)
            { @TempData["test"]}
                </span>
                <br />
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary buttonBorder">Skicka länk</button>
            </form>
            <div class="dialog-footer">
                <hr />
                <!--Added a link to signUp page to "Register now"-->
                <span class="dialogBox-footer-register">Inget konto? <b><a asp-controller="UserClient" asp-action="RegisterUser" method="post">Registrera dig här.</a></b></span>
            </div>
        </div>
        <div class="bc-system-footer"></div>
    </div>
</div>
